<template>
  <section class="px-12 md:px-0">
    <h2 class="text-3xl md:text-xl lg:text-2xl text-white">
      <span v-if="this.results.length > 0">{{heading}}</span>
      <span v-else>No SOS Alerts to respond to today!</span>
    </h2>
    <table data-requests class="w-full mt-32 md:mt-8 text-5xl md:text-sm text-left px-36 md:px-0" v-if="this.results.length > 0">
      <thead class="border-b border-gray-800 text-white">
        <tr>
          <th :class="this.thStyle + this.thBdrStyle">Latitude</th>
          <th :class="this.thStyle + this.thBdrStyle">Longitude</th>
          <th :class="this.thStyle + this.thBdrStyle">Time</th>
          <th colspan="2" :class="this.thStyle">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(res,r) in results" :data-lat="res.lat" :data-lng="res.lng" v-on:click="this.focusMarker">
          <td :class="this.parseCellStyle(r,res.responded)">{{res.lat}}&deg;</td>
          <td :class="this.parseCellStyle(r,res.responded)">{{res.lng}}&deg;</td>
          <td :class="this.parseCellStyle(r,res.responded)">{{this.parseDate(res.time)}}</td>
          <td :class="this.parseCellStyle(r,res.responded)" width="22">
            <button v-if="!res.responded" :id="res.id" :class="this.parseBtnStyle(res.responded)" type="button" aria-label="Mark the SOS as addressed" v-on:click="this.markRequest">
              <svg :class="this.actBtnStyle">
                <use xlink:href="#icon__checkmark"/>
              </svg>
            </button>
          </td>
          <td v-if="user" :class="this.parseCellStyle(r,res.responded)" width="22">
            <button v-if="user.user_level_id === 1" :id="res.id" :class="this.parseBtnStyle(res.responded)" type="button" aria-label="Delete an invalid SOS" v-on:click="this.deleteRequest">
              <svg :class="this.actBtnStyle">
                <use xlink:href="#icon__math--multiply"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>
<script>
  import api, {timedAlert} from './api'
  import { MarkerClusterer } from "@googlemaps/markerclusterer"
  import Echo from 'laravel-echo'
  import Pusher from 'pusher-js'

  window.Pusher = Pusher

  window.Echo = new Echo({
    broadcaster: 'pusher',
    key: process.env.APP_ENV === 'local' ? process.env.MIX_PUSHER_APP_KEY_DEV : process.env.MIX_PUSHER_APP_KEY,
    cluster: process.env.APP_ENV === 'local' ? process.env.MIX_PUSHER_APP_CLUSTER_DEV : process.env.MIX_PUSHER_APP_CLUSTER,
    forceTLS: true
  })

  export default {
    props: {
      feedback: {
        msg: false,
        style: 'danger'
      }, 
      map: false,
      user: false
    },
    mounted() {
      this.getRequests()
    },
    data() {
      return {
        activeStyle: " bg-primary enabled:hover:bg-white enabled:focus:outline-primary-800 enabled:focus:bg-secondary enabled:focus:text-primary-800 enabled:hover:text-primary", 
        inactiveStyle: " bg-gray-900 enabled:hover:bg-white enabled:focus:outline-gray-800 enabled:focus:bg-secondary enabled:focus:text-gray-800 enabled:hover:text-gray-900", 
        btnStyle: "flex items-center p-1 rounded-full enabled:cursor-pointer disabled:opacity-25 font-bold text-white text-xs lg:text-sm transition duration-600",
        actBtnStyle: "block w-20 h-20 md:w-4 md:h-4 pointer-events-none", 
        thStyle: "py-12 px-12 md:py-2 md:px-4 font-light text-6xl md:text-base", 
        thBdrStyle: " border-r md:border-r-2 border-gray-800", 
        heading: 'SOS Alerts',
        cluster: false, 
        markers: [],
        infowindows: [],
        results: []
      };
    },
    methods: {
      getRequests() {
        api.get(`/resource/requests`)
        .then((response) => {
          this.parseRequests(response.data);
        })
        .finally(() => {
          this.setCluster(this.markers, this.map)
          window.Echo.channel(`requests`)
          .listen("SosTriggered", (fb) => {
            this.feedback = {
              msg: `A new Request was triggered at "${fb.time}"`,
              style: "bg-secondary text-black"
            };
            const marker = new google.maps.Marker({
              title: "A New Request",
              position: {
                lat: Number(fb.lat),
                lng: Number(fb.lng)
              },
              icon: {
                url: "./images/sos.svg",
                anchor: new google.maps.Point(35, 35)
              },
              map: this.map
            });
            this.results.push(fb);
            this.markers.push(marker);
  //        this.cluster = new MarkerClusterer({markers:this.markers, map:this.map})
          });
        });
      },
      parseCellStyle(index, disabled=false){
        return "p-4 text-white border-b "+(!disabled ? (index%2 ? 'bg-primary-900 border-primary-800' : 'bg-primary-800 border-primary-700') : 'bg-gray-800 border-gray-700')
      },
      parseBtnStyle(responded=0){
        return this.btnStyle + ( responded > 0 ? this.inactiveStyle : this.activeStyle )
      }, 
      parseDate(time) {
        let date = new Date(time),
        tz = date.getTimezoneOffset()/60,
        hrs = date.getHours() - tz,
        mins = date.getMinutes(),
        suff = hrs > 12 ? 'pm' : 'am'
        hrs = hrs > 12 ? 24 - Math.abs(hrs) : Math.abs(hrs)
        mins = mins < 10 ? '0' + mins : mins
        return date.getMonth()+1+'/'+date.getDate()+' '+hrs+':'+mins+suff
      }, 
      //Set the Alert component back to its original state
      resetAlert(msg=false,style=''){
        timedAlert(() => {
          feedback = {
            msg: msg,
            style: style
          }
        })
      },
      focusMarker(event) {
        if(event.target.tagName != 'TD') return
        let pos = {
          lat: parseFloat(event.target.parentNode.dataset.lat), 
          lng: parseFloat(event.target.parentNode.dataset.lng)
        }
        let index = false
        infowindows.forEach(win => win.close())
        let target = markers.filter((mark,m) => {
          if(mark.position.lat() === pos.lat && mark.position.lng() === pos.lng) {
            index = m
            return mark
          }
        })
        infowindows[index].open({
          anchor: target[0], 
          map:map,
          shouldFocus: false
        })
        map.setCenter(target[0].position)
      }, 
      markRequest(event) {
        let id = parseFloat(event.target.id)
        let target = this.results.find(res => res.id === id)
        target.responded = true
        api.put(`/resource/requests/${id}`, target)
        .then((response) => {
          this.parseRequests(response.data)
        })
      }, 
      deleteRequest(event) {
        let id = parseFloat(event.target.id)
        api.delete(`/resource/requests/${id}`)
        .then((response) => {
          this.parseRequests(response.data)
        })
      },
      parseRequests(data = []) {
        this.markers = []
        this.infowindows = []
        this.results = data
        this.results.forEach((res, r) => {
          res.position = {
            lat: Number(res.lat),
            lng: Number(res.lng)
          }

          res.title = res.responded ? 'Assistance Received' : 'Guest Requesting Assistance'
          if(typeof google != undefined && this.map) {
            const marker = new google.maps.Marker({
              position: res.position,
              icon: {
                url: res.responded ? "./images/responded.svg" : "./images/sos.svg",
                anchor: new google.maps.Point(35,35)
              }
            })
            
            let infowindow = new google.maps.InfoWindow({
              content: '<aside id="content" class="px-4 lg:px-8"><div id="siteNotice"></div>' + 
              '<button class="pointer-events-none absolute z-50 -right-3 -top-3 rounded-full w-8 h-8 text-primary text-lg bg-gray-50 flex align-center content-center justify-center" style="box-shadow: 0px 6px 7px rgba(102, 51, 255, 0.25);">' +
              '&times;</button>' +
              '<h1 class="text-small lg:text-base font-semibold leading-base">' +
              (res.responded ? 'Assistance<br>Received' : 'Guest<br>Requesting<br>Assistance') +
              '</h1></aside>',
              maxWidth: 280
            })
            
            this.infowindows.push(infowindow)
            this.markers.push(marker)
      
            marker.addListener("click", () => {
              console.log(infowindows)
              this.infowindows.forEach(win => win.close())
              this.infowindow.open({
                anchor: marker,
                map: this.map,
                shouldFocus: false
              })
              let top = document.getElementsByTagName('HTML')[0]
              console.log(res.responded, res.position)
              res.responded ? top.classList.add('responded') : top.classList.remove('responded')
              map.setCenter(res.position)
            })
          }
        }) 
        if(typeof google != undefined && this.map) {
          this.setCluster(this.markers, this.map)
        }
      },
      setCluster(markers, map){
        this.cluster = new MarkerClusterer({ markers: markers, map: map });
      }
    }
  }
</script>