<template>
  <section class="px-12 md:px-0">
    <h2 v-if="this.settings" class="text-3xl md:text-xl lg:text-2xl text-white">
      <span v-if="this.settings.length > 0">{{heading}}</span>
      <span v-else>No Settings in the database!</span>
    </h2>
    <form data-settings class="w-full mt-32 md:mt-8 text-5xl md:text-sm text-left px-36 md:px-0 overflow-auto" v-if="this.settings.length > 0">
      <fieldset v-for="(setting) in this.settings" class="flex flex-col">
        <label :for="setting.slug" class="text-md md:text-xl text-white">{{setting.title}}</label>
        <input v-if="setting.type != 'image'" :type="setting.type" :id="setting.id" class="p-2 border border-primary rounded-sm focus:bg-white focus:text-black" :value="setting.value" v-on:change="this.editSetting"/>
        <button v-else class="w-48 h-48" :id="setting.id" type="image" :on-click="this.editSetting"
         :style="{backgroundImage: 'url('+this.fb_prefix+setting.value+this.fb_suffix+')'}">Edit Image{{setting.type}}</button>
      </fieldset>
    </form>
  </section>
</template>
<script>
  import api from './api'
  export default {
    props: {
      fb_suffix: '',
      fb_prefix: '',
      user: false
    },
    data() {
      return {
        heading: 'Settings',
        settings: []
      };
    },
    mounted() {
      this.getSettings()
    },
    methods: {
      deleteSetting() {
      }, 
      editSetting($form) {
        console.log('editSetting',$form)
      },
      getSettings() {
        api.get(`/resource/settings`)
        .then((response) => {
          this.settings = response.data
        })
        .finally(() => {
          this.feedback = {
            msg: `Settings were successfully loaded!`,
            style: "bg-secondary text-black"
          }
        })
      }
    }
  }
</script>