<template>
  <nav data-sidenav class="flex flex-col mr-4 bg-black w-12 border-r border-gray-600">
    <button :title="page.title" v-bind:data-id="page.slug" v-for="(page,p) in this.pages" class="text-4xl md:text-2xl text-tertiary hover:text-white p-2" @click="this.setPage">
      <svg class="icon text-current mx-auto pb-2 border-b pointer-events-none">
        <use xlink:href="#icon__exclamation_point"/>
      </svg>
    </button>
  </nav>
  <div data-panel class="max-h-screen overflow-auto">
    <figure class="flex flex-col w-full mx-auto py-12 bg-center bg-contain bg-no-repeat" :style="{
      backgroundImage:'url(' + fb_prefix + 'logo__campaign.png' + fb_suffix
      + ')'}">
      <img :alt="logo_alt" width="113" height="64" :src="fb_prefix + 'logo__campaign.png' + fb_suffix" class="invisible w-full h-64 md:h-16 mx-auto"/>
    </figure>
    <h1 class="px-12 md:px-0 mb-2 text-9xl md:text-2xl lg:text-3xl font-semibold text-white">{{this.page.title}}</h1>
    <Transition name="fade" mode="out-in" appear>
      <Settings v-if="this.current === 'settings'" :fb_prefix="this.fb_prefix" :fb_suffix="this.fb_suffix"/>
      <Users v-else-if="this.current === 'users'"/>
      <Alerts v-else :map="map" :user="user"/>
    </Transition>
  </div>
</template>
<script>
  import Alerts from './Alerts.vue'
  import Settings from './Settings.vue'
  import Users from './Users.vue'

  export default {
    props: {
      fb_prefix: "",
      fb_suffix: "", 
      logo_alt: "", 
      map: false,
      user: false
    },
    mounted() {
      this.hash = window.location.hash
      let current = this.hash.substr(1)
      this.page = this.pages.find(p => p.slug === current)
      this.setCurrent(this.page.slug)
    },
    data() {
      return {
        current: '', 
        feedback: {
          msg: false,
          style: 'danger'
        },
        pages: [
          {
            "slug":"",
            "title": "Requests"
          },{
            "slug":"users",
            "title": "Users"
          },{
            "slug":"settings",
            "title": "Settings"
          },{
            "slug":"activations",
            "title": "Activations"
          }
        ],
        page: 0,
      }
    }, 
    methods: {
      getPaths() {
        return window.location.pathname.split('/').map(path => path)
      },
      setPage(evt) {
        let target = evt.target
        let current = target.dataset.id
        this.page = this.pages.find(p => p.slug === current)
        this.setCurrent(current)
      },
      setCurrent(slug) {
        this.current = slug
        document.location.href = '#' + slug
        this.updateBodyStyle(slug)
      },
      updateBodyStyle(style='') {
        let body = document.querySelector('body')
        let baseCss = ' w-screen h-full bg-primary--900'
        let location = style ? style + baseCss : baseCss
        let has_loaded = body.classList.contains('loaded') ? false : true

        //let paths = window.location.pathname.split('/')
        this.getPaths().forEach(path => {
          if( path !== '' ) {
            if( location.search(path) < 0 ) location += ' ' + path
          }
        })

        //If we've already loaded, don't stagger animate things in
        if(has_loaded) {
          setTimeout(()=>{
            if( location.search('loaded') < 0 ) location = `${location ? `${location} loaded` : 'loaded'}`
            body.className = location
          },500)
        }else{
          setTimeout(()=>{
            if( location.search('animating') >= 0 ) body.classList.remove('animating')
          },5)
          //First, set loaded and location
          if( location.search('loaded') < 0 ) location = `${location ? `${location} loaded animating` : 'loaded animating'}`
        }
        body.className = location
      }
    }, 
    components: { Alerts, Settings, Users }
  }
</script>