<template>
  <div class="flex h-full w-full justify-between items-center text-white p-8 md:p-2">
    <nav class="flex w-2/3 space-x-8">
      <button :title="this.menu.title" class="text-4xl md:text-2xl text-white hover:text-white p-2 -mx-4" @click="this.toggleMenu">
        <svg v-if="this.menu.status === 'open'" class="icon text-current mx-auto pointer-events-none">
          <use xlink:href="#icon__math--multiply"/>
        </svg>
        <svg v-else class="icon text-current mx-auto pointer-events-none">
          <use xlink:href="#icon__ellipsis--vertical"/>
        </svg>
      </button>
      <a :href="user.user_level_id === 1 ? '/' : '/admin'" class="flex items-center" title={{this.homeTitle}}>
        <svg :class="this.aSVGStyle">
          <use xlink:href="#logo__bluewater"/>
        </svg>
        <span :class="this.aSpanStyle + ' hidden md:block'">{{this.homeLabel}}</span>
      </a>
      <a href="/logout" class="flex items-center" title="Logout">
        <svg :class="this.aSVGStyle">
          <use xlink:href="#icon__logout"/>
        </svg>
        <span :class="this.aSpanStyle + ' hidden md:block'">Logout</span>
      </a>
      <a v-if="user.user_level_id === 1" :href="this.firebaseLink"
      class="flex items-center" target="_blank" title="View the Google Firebase Account">
        <svg :class="this.aSVGStyle">
          <use xlink:href="#logo__firebase"/>
        </svg>
        <span :class="this.aSpanStyle + ' hidden md:block'">Firebase</span>
      </a>
      <a v-if="user.user_level_id === 1" :href="this.pusherLink"
      class="flex items-center" target="_blank" title="View the Pusher Account">
        <span :class="this.aSpanStyle + ' pl-0'">Pusher</span>
      </a>
    </nav>
    <figure class="flex w-1/3 justify-end my-auto">
      <figcaption :class="this.aSpanStyle + ' flex items-center'">{{user.username}} <span class="hidden md:inline">|</span> <strong class="hidden md:inline ml-1 font-bold">{{user.user_level_id === 1 ? 'Administrator' : 'Manager'}}</strong></figcaption>
    </figure>
  </div>
</template>
<script>
  import cms from './cms.json'
  export default {
    props: {
      user: {
        user_level_id: 3,
      }
    },
    data() {
      return {
        aSpanStyle: "pl-2 text-shadow-md text-5xl md:text-base", 
        aSVGStyle: "w-16 h-16 md:w-4 md:h-4 drop-shadow-md", 
        userStyle: {
          width:'1.5rem', 
          height:'1.5rem', 
          backgroundImage: this.user.photo && `url(${this.user.photo})`
        },
        homeTitle: `Jump to the ${this.user.user_type === 1 ? 'touchscreen' : 'content managment system Dashboard'}`,
        homeLabel: `Bluewater ${this.user.user_type === 1 ? 'Touchscreen' : 'CMS'}`,
        firebaseLink: `https://console.firebase.google.com/u/1/project/${cms.settings.firebase.project_id}/storage/${cms.settings.firebase.storage_bucket}/files`, 
        menu: {
          state: 'closed',
          title: 'Open menu'
        },
        pusherLink: `https://dashboard.pusher.com/apps/${cms.settings.pusher.id}`
      }
    }, 
    methods: {
      toggleMenu() {
        let sidebar = document.querySelector('[data-sidenav]')
//        console.log(sidebar, sidebar.classList.contains('active'))
        if(!sidebar) return
        if(sidebar.classList.contains('active')){
          sidebar.classList.remove('active')
          this.menu.status = 'open'
          this.menu.title = 'Close menu'
        }else{
          sidebar.classList.add('active')
          this.menu.status = 'closed'
          this.menu.title = 'Open menu'
        }
      }
    }
  }
</script>