<template>
  <section class="px-12 md:px-0">
    <h2 class="text-3xl md:text-xl lg:text-2xl text-white">
      <span v-if="this.users.length > 0">{{heading}}</span>
      <span v-else>No Users in the database!</span>
    </h2>
    <table data-users class="w-full mt-32 md:mt-8 text-5xl md:text-sm text-left px-36 md:px-0" v-if="this.users.length > 0">
      <thead class="border-b border-gray-800 text-white">
        <tr>
          <th :class="this.thStyle + this.thBdrStyle">Username</th>
          <th :class="this.thStyle + this.thBdrStyle">First</th>
          <th :class="this.thStyle + this.thBdrStyle">Last</th>
          <th :class="this.thStyle + this.thBdrStyle">Email</th>
          <th :class="this.thStyle">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(res,r) in users" v-on:click="this.editUser">
          <td :class="this.parseCellStyle(r)">{{res.username}}</td>
          <td :class="this.parseCellStyle(r)">{{res.first_name}}</td>
          <td :class="this.parseCellStyle(r)">{{res.last_name}}</td>
          <td :class="this.parseCellStyle(r)">{{res.email}}</td>
          <td :class="this.parseCellStyle(r)" width="22">
            <button :id="res.id" :class="this.btnStyle" type="button" aria-label="Delete User" v-on:click="this.deleteUser">
              <svg :class="this.actBtnStyle">
                <use xlink:href="#icon__math--multiply"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>
<script>
  import api from './api'

  export default {
    mounted() {
      this.getUsers()
    },
    data() {
      return {
        activeStyle: " bg-primary enabled:hover:bg-white enabled:focus:outline-primary-800 enabled:focus:bg-secondary enabled:focus:text-primary-800 enabled:hover:text-primary", 
        btnStyle: "flex items-center p-1 rounded-full enabled:cursor-pointer disabled:opacity-25 font-bold text-white text-xs lg:text-sm transition duration-600",
        actBtnStyle: "block w-20 h-20 md:w-4 md:h-4 pointer-events-none", 
        thStyle: "py-12 px-12 md:py-2 md:px-4 font-light text-6xl md:text-base", 
        thBdrStyle: " border-r md:border-r-2 border-gray-800", 
        heading: 'Users',
        users: []
      };
    },
    methods: {
      addUser() {
      },
      deleteUser() {
      }, 
      editUser($form) {
        console.log('editSetting',$form)
      },
      getUsers() {
        api.get(`/resource/users`)
        .then((response) => {
          this.users = response.data
        })
        .finally(() => {
          this.feedback = {
            msg: `Users were successfully loaded!`,
            style: "bg-secondary text-black"
          }
        })
      },
      parseCellStyle(index){
        return "p-4 text-white border-b "+ (index%2 ? 'bg-primary-900 border-primary-800' : 'bg-primary-800 border-primary-700')
      },
    }
  }
</script>