:root {
  --primary: #00A9FF;
  --secondary: #73D0FF;
  --tertiary: #CC66FF;
  --disabled: #e1e1e1;
}

div[role=group] div[title] > img {
  display: none;
}

button {
  background-color: var(--primary);
}

svg use {
  fill: currentColor;
}

[data-progress] circle {
  transition: stroke-dashoffset 1000ms;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

fieldset[data-prefix] {
  position: relative;
}
fieldset[data-prefix]:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.5875rem;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
fieldset[data-prefix] input {
  text-indent: 1.125rem;
}
fieldset[data-prefix][data-prefix=email]:before {
  background-image: url(/images/icon__email.svg?b4ae8ddd935232bd0348f54ed8eb6356);
}
fieldset[data-prefix][data-prefix=password]:before {
  background-image: url(/images/icon__lock.svg?d53d150586b972c2cbf52b62abb79207);
}
fieldset[data-prefix][data-prefix=password]:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0.5875rem;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  background-image: url(/images/icon__eye.svg?ff5938ce7acad10619c77c546a3164aa);
}

[data-sidenav] {
  position: absolute;
  left: -3rem;
  top: 2rem;
  padding: 1rem 0;
  min-height: calc(100vh - 2rem);
  transition: left 150ms ease-in-out;
}
[data-sidenav].active {
  left: 0;
  transition-duration: 300ms;
}
[data-sidenav].active + [data-panel] {
  margin-left: 42px;
  transition-duration: 300ms;
}
[data-sidenav] + [data-panel] {
  transition: margin-left 150ms ease-in-out;
}

[data-toggler] svg:last-child {
  display: none;
}
[data-toggler].active svg:first-child {
  display: none;
}
[data-toggler].active svg:last-child {
  display: unset;
}

.dropdown:not(.show) [data-show] {
  display: none;
}
.dropdown.show [data-hide] {
  display: none;
}

.icon {
  font-size: 1em;
  width: 1em;
  height: 1em;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.text-shadow-sm {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.text-shadow-md {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.text-shadow-lg {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.gm-style .gm-style-iw-c {
  overflow: visible !important;
  max-width: 100vw !important;
  border-radius: 0.75rem;
  padding: 0.75rem;
}

html.cms {
  font-size: 1vw;
}
html.cms.responded .gm-style-iw.gm-style-iw-c {
  background-color: var(--disabled);
}
html.cms.responded .gm-style .gm-style-iw {
  background-color: var(--disabled);
}
html.cms.responded .gm-style .gm-style-iw .gm-style-iw-d {
  background-color: var(--disabled);
}
html.cms.responded .gm-style .gm-style-iw .gm-style-iw-d h1, html.cms.responded .gm-style .gm-style-iw .gm-style-iw-d p {
  color: black;
}
html.cms.responded .gm-style .gm-style-iw-tc:after {
  background: var(--disabled);
}
html.cms body.users main, html.cms body.settings main {
  width: 0;
}
html.cms body.users #sidebar, html.cms body.settings #sidebar {
  width: 100%;
}
html.cms .gm-style-iw.gm-style-iw-c {
  padding: 8px 15px !important;
  background-color: var(--primary);
}
html.cms .gm-style .gm-style-iw .gm-style-iw-d {
  overflow: hidden !important;
  background-color: var(--primary);
}
html.cms .gm-style .gm-style-iw .gm-style-iw-d h1, html.cms .gm-style .gm-style-iw .gm-style-iw-d p {
  color: white;
}
html.cms .gm-style .gm-style-iw-tc {
  filter: none;
}
html.cms .gm-style .gm-style-iw-tc:after {
  background: var(--primary);
}

/*# sourceMappingURL=app.css.map*/