:root{
  --primary: #00A9FF;
  --secondary: #73D0FF;
  --tertiary: #CC66FF;
  --disabled: #e1e1e1;
}

div[role="group"] div[title] > img {
  display: none
}

button {
  background-color: var(--primary);
}

svg use {
  fill: currentColor
}

[data-progress] circle {
  transition: stroke-dashoffset 1000ms;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

fieldset[data-prefix] {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.5875rem;
    width: 1rem;
    height: 1rem; 
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
  }
  input {
    text-indent: 1.125rem;
  }
  &[data-prefix="email"]:before {
    background-image: url(../images/icon__email.svg);
  }
  &[data-prefix="password"]{ 
    &:before {
      background-image: url(../images/icon__lock.svg);
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0.5875rem;
      width: 1rem;
      height: 1rem; 
      background-repeat: no-repeat;
      background-size: cover;
      pointer-events: none;
      background-image: url(../images/icon__eye.svg);
    }
  }
}

[data-sidenav] {
  position: absolute;
  left: -3rem;
  top: 2rem;
  padding: 1rem 0;
  min-height: calc(100vh - 2rem);
  transition: left 150ms ease-in-out;
  &.active {
    left: 0;
    transition-duration: 300ms;
    + [data-panel] {
      margin-left: 42px;
      transition-duration: 300ms;
    }
  }
  + [data-panel] {
    transition: margin-left 150ms ease-in-out;
  }
}

[data-toggler]{
  svg:last-child {
    display: none;
  }
  &.active {
    svg:first-child {
      display: none;
    }
    svg:last-child {
      display: unset;
    }
  }
}

.dropdown {
	&:not(.show) [data-show] {
		display: none
	}
	&.show [data-hide] {
		display: none;
	}
}

.icon {
  font-size: 1em;
  width: 1em;
  height: 1em;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.text-shadow-sm {
  text-shadow:0 0 1px rgb(0 0 0 / 50%)
}

.text-shadow-md {
  text-shadow:0 0 3px rgb(0 0 0 / 50%)
}

.text-shadow-lg {
  text-shadow:0 0 5px rgb(0 0 0 / 50%)
}

.gm-style .gm-style-iw-c {
  overflow: visible !important;
  max-width: 100vw !important;
  border-radius: 0.75rem;
  padding: 0.75rem;
}

html.cms {
  font-size: 1vw;

  &.responded {
    .gm-style-iw.gm-style-iw-c {
      background-color: var(--disabled);
    }
    .gm-style .gm-style-iw {
      background-color: var(--disabled);
      .gm-style-iw-d {
        background-color: var(--disabled);
        h1,p {
          color: black;
        }
      }
    }
    .gm-style .gm-style-iw-tc:after {
      background: var(--disabled);
    }
  }

  body.users, body.settings {
    main {
      width: 0
    }
    #sidebar {
      width: 100%;
    }
  }

  .gm-style-iw.gm-style-iw-c {
    padding: 8px 15px !important;
    background-color: var(--primary);
  }
  
  .gm-style .gm-style-iw {
    .gm-style-iw-d {
      overflow: hidden !important;
      background-color: var(--primary);
      h1,p {
        color: white;
      }
    }
  }
  .gm-style .gm-style-iw-tc {
    filter: none;
    &:after {
      background: var(--primary);
    }
  }
}